body {
    background: #e5e5e5;
    color: #25282B;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.hide {
    display: none;
}

a {
    color: #ff5E84;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p, .description {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

#container {
    width: 90%;
    max-width: 980px;
    margin: 40px auto;
    display: flex;
}

#intro {
    width: 300px;
    margin-top: 20px;
}

main{
    margin: 32px;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 32px;
}

button {
    background: none;
    color: #ff5E84;
    border: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.2px;    
    cursor: pointer;
    outline: none;    
}

button.fat {
    color: white;
    background: #ff5E84;
    width: 150px;
    height: 40px;
    border-radius: 6px;
    box-shadow: 0px 8px 16px #ff5E8432;
}

button.fat:hover {
    text-decoration: none;
}

button:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #777;     
}

footer a {
    opacity: 0.7;
}

.idea {
    display: flex;
    background-color: #fff;
    box-shadow: 0 4px 16px -8px rgba(1, 1, 1, 0.1);
    border-radius: 8px;
    padding: 32px;
    margin-bottom: 32px;
}

.idea img {
    width: 60px;
    height: 60px;
    margin-right: 32px;
}

.idea h3 {
    margin: 0;
}

.idea p {
    margin: 8px 0;
    color: #777;
}

.idea .description {
    margin: 16px 0;
}